{% extends 'base.html' %}

{% block title %}Booking Success{% endblock %}

{% block content %}
<div class="container-fluid booking-success-container">
    <div class="booking-success-message">
        <h2>Thank you for your booking!</h2>
        
        <div class=" container booking-details mt-4">
            <h3>Booking Details:</h3>
            <ul style="list-style: none;">
                <li><strong>Service Booked:</strong> {{ service }}</li>
                <li><strong>Appointment Date:</strong> {{ appointment_date }}</li>
                <li><strong>Email:</strong>{{ email}}</li>
            </ul>
        </div>
        
       
<div class="container-fluid text-center mt-5">

 
        <p>We will send you an email confirmation with your appointment details shortly.</p>
        <p>Feel free to contact us if you have any questions.</p>
        <div class="btn bg-dark text-white">
            <a class="text-white" href="{% url 'home' %}" >Return to Home</a>
 
        </div>
</div>
{% endblock %}
