{%extends 'base.html'%}
{%block title %}Home{%endblock%}

 
 
{% block content %}

  


 </div>

 <div class="container">
     Click to Login To Your Respective Dahsboard
 </div>
 
   <div class="d-flex mt-5 flex-direction-row flex-gap-5 p-5 justify-content-center">
    <a class="nav-link  m-3" href="accounts/log_in">Sign in</a>

 
 
    <a class="nav-link m-3 " href="accounts/signup">Create Account</a>
 
  <a class="nav-link  m-3 " href="accounts/login">Login as a Doctor</a>
 
 
   </div>
   



<div class="container-fluid mt-3 mb-5"> 
  <div class="text-center">
      <h2 class="h2 mb-4 text-dark ">We Offer 4 Main Services</h2>
  </div>
  
  <div class="row justify-content-center text-center d-flex">
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex">
          <div class="card p-3 text-dark shadow h-100 w-100">
              <h3 class="h4">Dentistry</h3>
              <p>Professional dental care services, including checkups, cleanings, and treatments.</p>
          </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex">
          <div class="card p-3 text-dark shadow h-100 w-100">
              <h3 class="h4">Consultations</h3>
              <p>Expert medical advice and diagnosis for all your healthcare needs.</p>
          </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex">
          <div class="card p-3 text-dark shadow h-100 w-100">
              <h3 class="h4">Surgery</h3>
              <p>Safe and advanced surgical procedures performed by experienced specialists.</p>
          </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex">
          <div class="card p-3 text-dark shadow h-100 w-100">
              <h3 class="h4">AI Chatbot</h3>
              <p>Instant support with our AI chatbot, available 24/7 for assistance.</p>
          </div>
      </div>
  </div>
</div>




 






{%endblock%}
</main>