{%extends 'base.html'%}
{%load static %}
{% block title %} Blog {%endblock%}


<main>
{% block content %}





<div class="container-fluid mt-5">
    <div class="row align-items-center">
        <!-- Image on the Left -->
        

        <!-- Text on the Right -->
        <div class="col-md-6 text-white d-flex flex-column justify-content-center" style="height: 400px;">
            
<div class=" container-fluid form-container">
       <form method="post" novalidate >
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>

    <div class="btn mb-0">
        <a href="{% url 'home' %}" >Return to Home</a>

    </div>
</div>
 

 
  <div>
                <a class="btn btn-primary btn-lg" href="#">Learn More</a>
            
                
                <a href="#" class="btn btn-outline-primary btn-lg">About Us</a>
              
                 
            </div>
        </div>

        <div class="col-md-6">
            <img class="img-fluid rounded w-100" src="{% static 'media/appointment.jpg' %}" alt="Home Image" 
                style="height: 650px; object-fit: cover;">
        </div>
    </div>
</div>




<div class="container-fluid mt-3 mt-5"> 
    <div class="row text-center text-dark mt-3 b-5">
        <h2 class="h3 text-dark">More about our Physical Appointment</h2>
    </div>
    
    <div class="row justify-content-center text-center d-flex mb-5">
        <!-- General Checkups -->
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex">
            <div class="card p-3 text-dark shadow h-100 w-100">
                <h3 class="h4">General Checkups</h3>
                <p>Regular health assessments to monitor and maintain your well-being.</p>
            </div>
        </div>

        <!-- Specialist Consultations -->
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex">
            <div class="card p-3 text-dark shadow h-100 w-100">
                <h3 class="h4">Specialist Consultations</h3>
                <p>Meet with top medical specialists for expert advice and treatment.</p>
            </div>
        </div>

        <!-- Physical Therapy -->
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex">
            <div class="card p-3 text-dark shadow h-100 w-100">
                <h3 class="h4">Physical Therapy</h3>
                <p>Personalized rehabilitation programs for pain relief and mobility improvement.</p>
            </div>
        </div>

        <!-- Diagnostic Services -->
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex">
            <div class="card p-3 text-dark shadow h-100 w-100">
                <h3 class="h4">Diagnostic Tests</h3>
                <p>Comprehensive lab tests and imaging services for accurate diagnosis.</p>
            </div>
        </div>
    </div>
</div>



{%endblock%}
</main>




 
 