 {%extends 'base.html'%}
 {%load static%}
 {%block title %} Doctors {%endblock %}

 <main>



    {% block content %}



    <div class="container mt-3">

        <h1 class="h1"> Hello,Welcome to the doctor Login page</h1>
     </div>
 
 <div class="container">
         {% if messages %}
         {% for message in messages %}
             <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}" role="alert">
                 {{ message }}
             </div>
         {% endfor %}
     {% endif %}
     
         <div class="login-container">
             <h2>Login</h2>
             <form method="post">
                  {% csrf_token %}     
                  <div class="mb-3">
                     <label class="form-label">Username</label>
                     <input type="text" name="username" class="form-control" placeholder="Enter email" required>
                 </div>
                 <div class="mb-3">
                     <label class="form-label">Password</label>
                     <input type="password" name="password" class="form-control" placeholder="Enter password" required>
                 </div>
                 <button type="submit" class="btn-custom">Login</button>
             </form>
            </div>
            
     
 
    {%endblock%}




 </main>
 